body {
    position: relative;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    background-color: rgba(110, 160, 240, 0.2);
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
    border:2px;
    border-radius: 10px;
}

input.credentials {
  width: 150px;
  font-size: 16px;
  padding: 2px;
  font-family: monospace;
  border:2px;
  border-radius: 10px;
}

p.instructions-user {
  font-weight: bold;
  font-style: oblique;
  font-size: 16px;
  text-align: center;
  color: #1a6c9a;*/
}

p.instructions-nouser {
  color: red;
  font-weight: bold;
  font-style: oblique;
  font-size: 16px;
  text-align: center;
}

.textarea-post {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
  border:2px;
  border-radius: 10px;
}

.add-comment {
  color: navy;
  font-size: 16px;
  font-weight: bold;
}

.textarea-comment {
  width: 500px;
  height: 50px;
  font-size: 17px;
  font-family: monospace;
  border:2px;
  border-radius: 10px;
}

.comment {
  color: navy;
  text-align: left;
  margin-left: 30px;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #1a6c9a;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px #1a6c9a;
    text-decoration: none;
}

.write {
  width: 60px;
  height: 60px;
}

.write-link {
  position: absolute;
  top: 50px;
  right: 10px;
}

.edit {
  width: 60px;
  height: 60px;
}

.edit-link {
  position: absolute;
  top: 60px;
  left: 10px;
}

.edit-comment {
  width: 30px;
  length: 30px;
}

.like {
  width: 50px;
  length: 50px;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-link{
    color: #3475bd;
    text-transform: capitalize;
    text-decoration: none;
}

.post-link:hover {
    text-decoration: underline;
}

.post-link:visited {
  color: #3475bd;
  text-decoration: none;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}
